{% extends "users/base_site.html" %}

{% load staticfiles %}

{% with headval="register" %}

{% block styleadd %}
<link rel="stylesheet" type="text/css" href="{% static "users/css/register.css" %}" />
{% endblock %}

{% block scriptadd %}
<script src="{% static "users/js/register_validate.js" %}"></script>
{% endblock %}

{% block addbody %}
   <div class="container">
    <form id="registerform" class="form-signin" method="post" novalidate="novalidate">{% csrf_token %}
        <h2 class="form-signin-heading">Login</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="password"  name="password" class="form-control" placeholder="Password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
      <div class="message"></div>
      </div>
{% endblock %}